@import "../node_modules/bootstrap/scss/bootstrap";
$color-principal: rgb(119, 22, 22);
$font-principal: Roboto, Arial, sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 100% $font-principal;
  background-color: $color-principal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body { height: 100%; }
body { margin: 0;
font-family: Roboto, "Helvetica Neue", sans-serif;
color: white;
}

