<bwc-header></bwc-header>


<h2 class="text-center top">Faça suas escolhas no Bolão da Copa 2022</h2>
<img src="./assets/img/homepage.webp" alt="Imagem homepage" class="img">
<div class="text-center rules">
    <h3>Como Funciona?</h3>
    <p>Serão disponibilizados os jogos de todas as partidas da fase de grupo.</p>
    <p>Cada jogo você tera a opção de escolher no time que irá vencer ou se o jogo acabará em empate.</p>
    <p>Cada escolha correta lhe dará 1 ponto.</p>
    <p>As escolhas devem ser feitas até a hora do jogo no horário de Brasília (GMT-03).</p>
    <button [routerLink]="['registrar']" class="botaologin">Cadastre-se e Jogue!</button>
</div>


