.top{
    padding-top: 80px;
}
.img{
    width: 60%;
    display: block;
    margin: auto;
    
}
.rules{
    padding-top: 10px;
}
.botaologin {
    background: #FB7985;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 21px;
    font-weight: 100;
    padding: 16px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #ffffff 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .botaologin:hover {
    border: solid #FFFFFF 1px;
    background: #ad0011;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }