<bwc-header></bwc-header>


<div class="text-center head"> 
<h2>Escolhas do Bolão</h2>
<h4>Rodada 1</h4>
<p class="text-center" >Dia 20/11/2022 - 13h</p>
</div>

<div class="box">
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/qatar.svg" class="right-emblem">Qatar</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><div class="outcome-name">X</div> <!----> <div class="outcome-odds">
	Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Equador<img src="./assets/img/equador.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>

<p class="text-center" >Dia 21/11/2022 - 13h</p>

<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/senegal.svg" class="right-emblem">Senegal</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
	Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Holanda<img src="./assets/img/holanda.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 21/11/2022 - 10h</p>

<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/inglaterra.svg" class="right-emblem">Inglaterra</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Irã<img src="./assets/img/ira.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 21/11/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/estadosunidos.svg" class="right-emblem">Estados Unidos</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Páis de Gales<img src="./assets/img/gales.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 22/11/2022 - 7h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/argentina.svg" class="right-emblem">Argentina</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Arábia Saudita<img src="./assets/img/arabiasaudita.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 22/11/2022 - 13h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/mexico.svg" class="right-emblem">México</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Polônia<img src="./assets/img/polonia.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 22/11/2022 - 10h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/dinamarca.svg" class="right-emblem">Dinamarca</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Tunísia<img src="./assets/img/tunisia.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 22/11/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/franca.svg" class="right-emblem">França</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Austrália<img src="./assets/img/australia.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 23/11/2022 - 10h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/alemanha.svg" class="right-emblem">Alemanha</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Japão<img src="./assets/img/japao.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 23/11/2022 - 13h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/espanha.svg" class="right-emblem">Espanha</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Costa Rica<img src="./assets/img/costarica.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 23/11/2022 - 7h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/marrocos.svg" class="right-emblem">Marrocos</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Croácia<img src="./assets/img/croacia.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 23/11/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/belgica.svg" class="right-emblem">Bélgica</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor"><!----> <div class="outcome-name">Canadá<img src="./assets/img/canada.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 24/11/2022 - 7h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/suica.svg" class="right-emblem">Suiça</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Camarões<img src="./assets/img/camaroes.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 24/11/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/brasil.svg" class="right-emblem">Brasil</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Sérvia<img src="./assets/img/servia.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 24/11/2022 - 10h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/uruguai.svg" class="right-emblem">Uruguai</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Coréia do Sul<img src="./assets/img/coreiadosul.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 24/11/2022 - 13h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/portugal.svg" class="right-emblem">Portugal</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Gana<img src="./assets/img/gana.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div></div>

<h4 class="text-center">Rodada 2</h4>
<p class="text-center" >Dia 25/11/2022 - 10h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/qatar.svg" class="right-emblem">Qatar</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Senegal<img src="./assets/img/senegal.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 25/11/2022 - 13h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/holanda.svg" class="right-emblem">Holanda</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Equador<img src="./assets/img/equador.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 25/11/2022 - 7h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/gales.svg" class="right-emblem">País de Gales</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Irã<img src="./assets/img/ira.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 25/11/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/inglaterra.svg" class="right-emblem">Inglaterra</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Estados Unidos<img src="./assets/img/estadosunidos.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 26/11/2022 - 10h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/polonia.svg" class="right-emblem">Polônia</div> <!----> <div class="outcome-odds"> Vencedor

	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Arábia Saudita<img src="./assets/img/arabiasaudita.svg" class="left-emblem">

	</div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 26/11/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/argentina.svg" class="right-emblem">Argentina</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">México<img src="./assets/img/mexico.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 26/11/2022 - 7h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/tunisia.svg" class="right-emblem">Tunísia</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Austrália<img src="./assets/img/australia.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 26/11/2022 - 13h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/franca.svg" class="right-emblem">França</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Dinamarca<img src="./assets/img/dinamarca.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 27/11/2022 - 7h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/japao.svg" class="right-emblem">Japão</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor"><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Costa Rica<img src="./assets/img/costarica.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 27/11/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/espanha.svg" class="right-emblem">Espanha</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Alemanha<img src="./assets/img/alemanha.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 27/11/2022 - 10h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/belgica.svg" class="right-emblem">Bélgica</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Marrocos<img src="./assets/img/marrocos.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 27/11/2022 - 13h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/croacia.svg" class="right-emblem">Croácia</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Canada<img src="./assets/img/canada.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 28/11/2022 - 7h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/camaroes.svg" class="right-emblem">Camarões</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Sérvia<img src="./assets/img/servia.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 28/11/2022 - 13h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/brasil.svg" class="right-emblem">Brasil</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Suiça<img src="./assets/img/suica.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 28/11/2022 - 10h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/coreiadosul.svg" class="right-emblem">Coréia do Sul</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Gana<img src="./assets/img/gana.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 28/11/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/portugal.svg" class="right-emblem">Portugal</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Uruguai<img src="./assets/img/uruguai.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>

<h4 class="text-center">Rodada 3</h4>
<p class="text-center" >Dia 29/11/2022 - 12h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/equador.svg" class="right-emblem">Equador</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Senegal<img src="./assets/img/senegal.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 29/11/2022 - 12h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/holanda.svg" class="right-emblem">Holanda</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Qatar<img src="./assets/img/qatar.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 29/11/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/ira.svg" class="right-emblem">Irã</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Estados Unidos<img src="./assets/img/estadosunidos.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 29/11/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/gales.svg" class="right-emblem">País de Gales</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Inglaterra<img src="./assets/img/inglaterra.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 30/11/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/polonia.svg" class="right-emblem">Polônia</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Argentina<img src="./assets/img/argentina.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 30/11/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/arabiasaudita.svg" class="right-emblem">Arábia Saudita</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">México<img src="./assets/img/mexico.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 30/11/2022 - 12h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/tunisia.svg" class="right-emblem">Tunísia</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">França<img src="./assets/img/franca.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 30/11/2022 - 12h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/australia.svg" class="right-emblem">Austrália</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Dinamarca<img src="./assets/img/dinamarca.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 01/12/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/japao.svg" class="right-emblem">Japão</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Espanha<img src="./assets/img/espanha.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 01/12/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/costarica.svg" class="right-emblem">Costa Rica</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Alemanha<img src="./assets/img/alemanha.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 01/12/2022 - 12h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/canada.svg" class="right-emblem">Canada</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Marrocos<img src="./assets/img/marrocos.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 01/12/2022 - 12h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/croacia.svg" class="right-emblem">Croácia</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Bélgica<img src="./assets/img/belgica.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 02/12/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/camaroes.svg" class="right-emblem">Camarões</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Brasil<img src="./assets/img/brasil.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 02/12/2022 - 16h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/servia.svg" class="right-emblem">Sérvia</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">>X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Suiça<img src="./assets/img/suica.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 02/12/2022 - 12h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor "><!----> <div class="outcome-name"><img src="./assets/img/gana.svg" class="right-emblem">Gana</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Uruguai<img src="./assets/img/uruguai.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>
<p class="text-center" >Dia 02/12/2022 - 12h</p>
<div class="betline-competitors betline-matchup"><button class="competitor right-facing-competitor"><!----> <div class="outcome-name"><img src="./assets/img/coreiadosul.svg" class="right-emblem">Coréia do Sul</div> <!----> <div class="outcome-odds"> Vencedor
	
	<!----></div></button> <button class="competitor !block middle-competitor "><!----> <div class="outcome-name">X</div> <!----> <div class="outcome-odds">
		Empate
	<!----></div></button> <button class="competitor left-facing-competitor "><!----> <div class="outcome-name">Portugal<img src="./assets/img/portugal.svg" class="left-emblem"></div> <!----> <div class="outcome-odds"> Vencedor
	
</div></button></div>

<div>
	<button class="botaosalvar">Salvar Escolhas</button>
</div>